nav {
    background-color: #D04925;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 20px;
}

nav>div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

nav span {
    font-style: normal;
    margin: 0px;
    color: #E9E5DD;
    font-size: 2rem;
    line-height: 2rem;
}

nav a {
    text-decoration: none;
    color: #E9E5DD;
    cursor: pointer;
}

.brand-logo {
    display: flex;
}

.brand-logo h2 {

    margin-bottom: 0px;
    color: #E9E5DD;
}

nav img {
    height: 28px;
    margin: 0px;
}

#nav-links {
    display: none;
}

#nav-links a {
    margin-left: 20px;
}

@media (min-width: 576px) {
    #nav-links {
        display: block;
    }
    #mobile-menu {
        display: none;
    }
}